@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header {
  height: 100vh;
  background: url(../img/bg-min.jpeg) no-repeat center / cover;
  position: relative;
  font-family: 'PT Serif';
  z-index: 1;
  }

header::after {
  position: absolute;
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: radial-gradient(circle, rgba(77, 5, 5, 0.65) 0%, rgba(0,0,0,0.85) 100%);
  z-index: -1;
}

h1 {
  letter-spacing: 2px;
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

input, textarea, button {
  border: 0;
  outline: none;
}

#nav-bar {
  background-color: #000!important;
}

.navbar-brand img {
  margin-left: 10px;
  width: 110px;
  height: 45px;
  filter: drop-shadow(0px 0px 3px red);
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: #b61313!important;
  transition: 0.2s ease-in;
  backface-visibility: hidden;
}

.nav-link:hover {
  opacity: 0.75;
}

.titles {
  text-align: center;
  height: 100%;
  color: #e7e7e7;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titles__wrapper {
  align-self: center;
  margin-top: 70px;

}

.titles > * {
  width: 90%;
}

.titles__wrapper p {
  font-size: 1.3rem;
}

.titles > p {
  font-family: 'Verdana';
  margin-bottom: 30px;
  align-self: flex-end;
  font-size: 1.1rem;
  color: #8a8888;
}


/* Features Section */

.features {
  padding-top: 71px;
  background: #000;
  color: #b61313;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature__description {
  width: 90%;
}

.feature__description p {
  color: #8a8888;
}


/* About Section */

.about {
  padding: 71px 0 30px 0;
  background: #000;
}

.about__wrapper {
  max-width: 600px;
  height: 322px;
  /* border-radius: 5px; */
  padding: 0 10px;
}

.about__wrapper iframe {
  width: 100%;
  height: 100%;  
}


/* Options Section */

.options {
  padding-top: 71px;
  background-color: #000;
}

.card {
  background-color: #000;
  border: 2px solid #ca4a04;
  color: #fff;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.card-img-top {
  transition: 0.2s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card:hover {
  box-shadow: 0 0 20px #ca4a04;
}

.card-title {
  color: #ca4a04;
}

.card-header {
  background-color: #ca4a04;
}


/* Contact Us */

.contact {
  padding-top: 71px;
  background-color: #000;
  position: relative;
}

.contact h3 {
  color: #ca4a04;
  font-size: 1.5rem;
}

.contact h3::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: #8a8888;
  left: 35%;
  top: 40px;
}

.form {
  flex-basis: 400px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ca4a04;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
}

::-webkit-input-placeholder {
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #8a8888 !important;
  font-size: 1rem !important;
}

label {
  color: #8a8888;
}

textarea {
  background-color: #000;
  border: 3px solid #ca4a04;
  color: #fff;
}

.submit {
  margin-top: 30px;
  background-color: #ca4a04;
  color: #000;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.submit:hover {
  opacity: 0.8;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
}


/* Footer */

.footer {
  background-color: #656565;
  color: #000;
  padding: 10px 0;
}

.coded-by {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.coded-by a {
  color: #000;
text-decoration: underline;
}

/* Media */

@media (max-width: 1040px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 520px) {
  .feature__description {
    width: 80%;
  }

  .feature {
    justify-content: space-around;
  }
}